<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    
</head>

<body>

<h2 class="sub-header">Section title</h2>
<div layout:fragment="content" class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Pesel</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${persons}">
            <td ><a th:href="@{'/person/details/'+${person.id}}" th:text="${person.id}"></a></td>
            <td><a th:href="@{'/person/details/'+${person.id}}" th:text="${person.name}"></a></td>
            <td ><a th:href="@{'/person/details/'+${person.id}}" th:text="${person.surname}"></a></td>
            <td ><a th:href="@{'/person/details/'+${person.id}}" th:text="${person.pesel}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
