<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    
</head>

<body>

<h2 class="sub-header">Section title</h2>
<div layout:fragment="content" class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${invoices}">
            <td th:text="${invoice.id}">później</td>
            <td th:text="${invoice.manufacturer}">Lorem</td>
            <td th:text="${invoice.model}">ipsum</td>
            <td th:text="${invoice.amount}">dolor</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
