<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    
</head>

<body>

<h2 class="sub-header">Section title</h2>
<div layout:fragment="content" class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>obraz</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${carList}">
            <td><img width="100" height="100" th:src="'/images/'+${car.id}+'.jpg'"/></td>
            <td > <a th:href="@{'/car/details/'+${car.id}}" th:text="${car.carManufacturer}"></a></td>
            <td th:text="${car.carModel}"></td>
            <td th:text="${car.amount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
