<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>

</head>

<body>

<h2 class="sub-header">Section title</h2>
<div layout:fragment="content" class="table-responsive">
    <div class="container" style="width: auto">
        <form th:action="@{/car/add}" method="post" enctype="multipart/form-data" th:object="${carDto}">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-6">
                    <img width="500" height="300" th:src="@{'/images/'+${carDto.carId}+'.jpg'}" />
                </div>
                <div class="col-md-6">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-2">
                            <label for="distance">przebieg:</label>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="text" th:field="*{distance}"/>
                            <label th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}"
                                   class="text-danger"></label>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-2">
                            <label for="image">silnik:</label>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="text" th:field="*{engine}"/>
                            <label th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}"
                                   class="text-danger"></label>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-2">
                            <label for="image">paliwo:</label>
                        </div>
                        <div class="col-md-10">

                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-2">
                            <label for="image">Skrzynia biegów</label>
                        </div>
                        <div class="col-md-10">
                            <!--<select th:field="*{transmission}">-->
                            <!--<option th:each="transmission: ${transmissions}" th:text="${transmission.name}" th:value="${transmission.id}"></option>-->
                            <!--</select>-->
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-2">
                            <label for="image">Marka:</label>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="text" th:field="*{manufacturer}"/>
                            <label th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"
                                   class="text-danger"></label>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-2">
                            <label for="image">Model:</label>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="text" th:field="*{model}"/>
                            <label th:if="${#fields.hasErrors('model')}" th:errors="*{model}"
                                   class="text-danger"></label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-2">
                    <label for="image">rok produkcji:</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" th:field="*{year}"/>
                    <label th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger"></label>
                </div>

                <div class="col-md-2">
                    <label for="image">Proponowana cena:</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" th:field="*{amount}"/>
                    <label th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="text-danger"></label>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-2">
                    <label for="agreementType">Umowa:</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" disabled="disabled" id="agreementType" type="text"
                           th:value="${agreementType}"/>
                </div>

                <div class="col-md-2">
                    <label for="personName">imię</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" id="personName" th:field="*{personName}"/>
                    <label th:if="${#fields.hasErrors('personName')}" th:errors="*{personName}"
                           class="text-danger"></label>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-2">
                    <label for="personSurname">Nazwisko</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" id="personSurname" th:field="*{personSurname}"/>
                    <label th:if="${#fields.hasErrors('personSurname')}" th:errors="*{personSurname}"
                           class="text-danger"></label>
                </div>

                <div class="col-md-2">
                    <label for="image">Pesel</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" th:field="*{personPesel}"/>
                    <label th:if="${#fields.hasErrors('personPesel')}" th:errors="*{personPesel}"
                           class="text-danger"></label>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-2">
                    <label for="personAddress">adres</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" id="personAddress" type="text" th:field="*{personAddress}"/>
                    <label th:if="${#fields.hasErrors('personAddress')}" th:errors="*{personAddress}" class="text-danger"></label>
                </div>
            </div>

            <input type="hidden" th:value="${agreementTypeId}" name="agreementTypeId"/>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-2">
                    <label for="image">Zaakceptuj:</label>
                </div>
                <div class="col-md-4">
                    <input class="btn btn-primary" type="submit" value="Edytuj"/>
                </div>
                <div class="col-md-3">
                    <a th:href="@{/car/sell(carId=${carDto.carId})}" class="btn btn-primary">Sprzedaj</a>
                </div>
                <div class="col-md-3">
                    <a th:href="@{/car/appointment(carId=${carDto.carId})}" class="btn btn-primary">Umów się na jazdę próbną</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
